<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="MyAPIKeyDemo" value ="demo"/>    
    <add key="MyAPIKey" value ="2UU8NKRTXJARWNXT"/>
  </appSettings>
  <connectionStrings>    
    <add name="DefaultConnection2" connectionString="Data Source=Application.db;Cache=Shared"/>
  </connectionStrings>
</configuration>