# dependencies
/.vs
/packages 

# testing
/TestResults

# production
/Common/bin/
/Infrastructure/bin/
/PortfolioTrackerApp/bin/
/Service/bin/
/Test/bin/

/Common/obj/
/Infrastructure/obj/
/PortfolioTrackerApp/obj/
/Service/obj/
/Test/obj/


# misc
.DS_Store
